<div class="row">
  <div class="col-6">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Amount</label>
        <input type="number" class="form-control" id="exampleInputPassword1" />
      </div>

      <div class="row">
        <div class="col gap-2">
          <button type="submit" class="btn btn-success">Add</button>
          <button type="submit" class="btn btn-danger">Remove</button>
          <button type="submit" class="btn btn-primary">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
